body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form{
  width: 300px;
  margin: 0 auto;
}
.container{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #adb5bd;
  padding: 0;
}
.card-container{
  padding: 20px;
}
/* .button-container{
  display: flex; 
  flex-direction: row;  
} */
.button-container button{
  width: 50%;
  height: 50px;
}
/* .button-selected{
  background-color: aqua;
} */
.card-body-left{
  /* outline: solid red 1px; */
  width:25%;
  float:left;
  
}
.card-body-left img{
  width: 100%;
}
.card-body-right{
  /* outline: solid green 1px; */
  width:65%;
  float:right;
}