body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  border-radius: 0;
}
.navbar-text span{
  color: #ffffff;
  font-weight: 600;
}
.navbar .nav-link{
  font-size: 14px;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #adb5bd;
  padding: 0;
}
.card-container{
  padding: 20px;
}

.button-container button{
  width: 50%;
  height: 50px;
}

.card-body-left{
  width:25%;
  float:left;
}
.card-body-left img{
  width: 100%;
}
.card-body-right{
  width:65%;
  float:right;
}
.score-box{
  /* outline: solid red 1px; */
  float: right;
  text-align: center;
  padding: 8px;
  color: #ffffff;
  background-color: #325D88;
}
.score-box span{
  font-weight: 800;
  font-size: 2rem;
}

@media only screen and (min-width: 992px) {
  .navbar-text-right{
    display: inline;
  }
}